.animalButton {
    margin:4px 4px;
    background-color:lemonchiffon;
    color:rebeccapurple;
    font-size:18px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 2px 3px #777777;
}

#gifDiv {
    display:inline-block;
    max-width:75%;
}

.picDiv {
    display:inline-block;
    margin: 4px 5px;
    border: 1px solid grey;
}

#formDiv {
    display:inline-block;
    position: absolute;
    top:60px;
    right:30px;
}