.animalButton {
    margin:4px 4px;
    background-color:lemonchiffon;
    color:rebeccapurple;
    font-size:18px;
    font-family: Helvetica, Arial, sans-serif;
}

#gifDiv {
    display:inline-block;
}

.picDiv {
    display:inline-block;
    margin: 4px 5px;
    border: 1px solid grey;
}

#formDiv {
    position: absolute;
    top:0;
    right:0;
}